.navBar {
    display: flex;
    justify-content: right;
    font-size: 120%;
    font-family: roboto;
    padding: 1%;
    margin: 1%;
    
    .ul {
        padding: 0.5%;
        text-decoration: none;
    }
    .ul:link{
        color:black;
    }
    .ul:visited{
        color:black;
    }
    .ul:hover{
        color: #56565D;
        // font-weight: bold;
    }
    a.active{
        font-weight: bold;
    }
}